* {
    font-family: Roboto, sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.span-col{
    color: #ffbf35;
}
.container{
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    color: black;
    max-width: 33%;
    height: 66%;
}

.container img{
    width: 100px;
    height: 100px;
    padding-top: 40px;
    padding-left: 20px;
}

.container-text{
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    margin: 20px;
    background-color: black;
    color: white;
    padding: 20px;
    line-height: 27px;
}

.container-text h1{
    font-size: 50px;
}

.container button{
    width: 50%;    
    margin-bottom: 20px;
    height: 40px;
    padding: 10px;
    background: #ffbf35;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.btn{
    display: flex;
    justify-content: center;
}

.footer-text{
    padding: 0 20px;
}

.footer-text hr{
    background-color: black;
    height: 2px;
    border: none;
}

.expire {
    display: flex;
    justify-content: center;
    font-size: smaller;
}

.link{
    text-decoration: none;
}